@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Ana uygulama konteynırı
.app-container {
  padding: 20px;
}

// Yükleme animasyonu
.loading-spinner {
  display: block;
  margin: 0 auto;
}

// Tablo kağıdı
.table-paper {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8) !important;
}

// Kayıtlı ve yardım alan kişiler bulunamadığında metin
.no-data-text {
  margin-top: 20px;
  text-align: center;
  color: #757575 !important;
}

// Kayıt formu
.register-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
}

// Kayıt formu alanları
.register-form .MuiTextField-root {
  margin-bottom: 20px;
}

// Kayıt düğmesi
.register-button {
  align-self: center;
  max-width: 200px;
  background-color: #1976d2;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #1565c0;
}

// Tablo başlığı
.table-header {
  background-color: #1976d2;
  color: #fff;
}

// Tablo hücreleri
.table-cell {
  color: #333;
  font-weight: 500;
}

// Form alanları etiketleri
.form-label {
  color: #1976d2;
  font-weight: 500;
}

// Form alanları giriş metni
.form-input {
  border: 2px solid #1976d2;
  border-radius: 5px;
}

// Form alanları giriş metni odaklandığında
.form-input:focus {
  outline: none;
  border-color: #1565c0;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.5);
}

// Düğme üzerine gelindiğinde
.register-button:hover {
  background-color: #1565c0;
}

// Yardım düğmesi
.help-button {
  background-color: #4caf50;
  color: #fff ;
  border-radius: 5px ;
  transition: background-color 0.3s ease;
}

.help-button:hover {
  background-color: #388e3c;
}
